.page.search {
    padding: 1rem;
}
.autocomplete {
    width: 20rem;
    border: 1px solid lightgrey;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px 0 lightgrey;
}
.autocomplete input.search {
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    height: 2rem;
}
.autocomplete .suggestions {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.suggestions .suggestion {
    cursor: pointer;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.suggestions .suggestion:hover {
    background-color: lightgrey;
}

.suggestions .suggestion .suggestion-icon {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.suggestions .suggestion .suggestion-icon svg {
    width: 0.6rem;
    height: auto;
    color: gray;
}
.suggestions .suggestion .remove {
    float: right;
    cursor: pointer;
    font-size: small;
    color: gray;
    padding-right: 0.4rem;
}

.results {
    margin-top: 2rem;
    border-top: 1px solid lightgrey;
}

.results .meta {
    color: gray;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.results .result {
    margin-top: 1rem;
}

.results .result .description {
    margin-top: 0.3rem;
}